**

!Cargo.lock
!Cargo.toml

!crates
!crates/**

!umbrel
!umbrel/Dockerfile

!web
!web/control-panel
!web/control-panel/index.html
!web/control-panel/package.json
!web/control-panel/pnpm-lock.yaml
!web/control-panel/public
!web/control-panel/public/**
!web/control-panel/src
!web/control-panel/src/**
!web/control-panel/svelte.config.js
!web/control-panel/tsconfig.json
!web/control-panel/vite.config.ts
